@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
  font-family: "Roboto", sans-serif;
}

h2 {
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h3 {
  font-family: "Staatliches", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

p {
  font-family: 'Roboto', sans-serif;
}

.footer {
  font-family: 'Roboto', sans-serif;
}


/* 
.btn {
  color: black;
  background:#e4b3b3;
}

.btn:hover {
  @apply bg-gradient-to-r from-[#e4b3b3] to-[#7f7fe7];
} */